<ion-content>

  <div *ngIf="picture">
    <img [src]="picture">
    <ion-fab bottom center>
      <button ion-fab (click)="startCamera()">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <div *ngIf="!picture">

   

  </div>

</ion-content>