<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
 <!-- <ion-button [routerLink]="['/camera']" routerLinkActive="router-link-active"   expand="block" fill="clear" shape="round">
  Take Photo
 </ion-button> -->
 <ion-button (click)="taskphoto()"  expand="block" fill="clear" shape="round">
  Take Photo
 </ion-button>
 <ion-card>
   <ion-img [src]="imgurl"></ion-img>
 </ion-card>
    <!-- <div>
    
 <ion-fab bottom center>
   <button ion-fab (click)="startCamera()">
     <ion-icon name="arrow-dropleft"></ion-icon>
   </button>
 </ion-fab>

 <ion-fab bottom right>
   <button ion-fab (click)="switchCamera()">
     <ion-icon name="cloud-upload"></ion-icon>
   </button>
 </ion-fab>
 
</div> -->

<div *ngIf="!imgurl" class="base">



 <!-- <ion-fab bottom center>
     <button ion-fab (click)="takePicture()">
       <ion-icon name="camera"></ion-icon>
     </button>
   </ion-fab> -->
</div>    
  <!-- <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->


 
    <ion-fab class="fbtn"  vertical="bottom" (click)="takePicture()" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab  class="fbtn" vertical="bottom" (click)="stop()" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab  class="fbtn" vertical="bottom" (click)="switchCamera()" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="repeat"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  
</ion-content>
