ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.fbtn{
  position: absolute;
    bottom: 10px;
  //  z-index:999
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}



// Linha horizontal vermelha

.retangulo {
    top: 10%;
    left: 15%;
    width: 70%;
    height: 60%;
    border: 4px solid rgb(255, 255, 255);
    border-style: dashed;
    position: absolute;
}

//  ion-content {
//   background-color: transparent;
//   --background-color: transparent !important;
// }

// ion-app, ion-content {
//   background-color: rgba(255, 255, 255, 0);
//   background-color: transparent !important;

// }

// body.camera-transparent, .camera-transparent 
// ion-nav-view, .camera-transparent 
// ion-view { background-color: transparent !important; }

// app-folder {
//   ion-content {
//   --background-color: transparent !important;
//   }
//   }
//   ion-app,.nav-decor {
//   --background-color: transparent !important;
//   }
